<h2>Dashboard</h2>
<input class="first" type="search" placeholder="Search here...">
<h3>David Heree</h3>
<p class="super">Super Admin</p>

<div class="first-container">
<p class="number-a"> 43 </p>
<p class="inside-a"> Application Sent </p>
</div>

<div class="second-container"> 
    <p class="number-b"> 27 </p>
 <p class="inside-b"> interview Schedule </p>
</div>

<div class="third-container">
    <p class="number-c"> 52k </p>
   <p class="inside-c"> Profile viewed </p>
</div>

<div class="vacancy">
    <P class="stats">Vacancy Stats</P>
</div>

<div class="right-side">
    <img class="photo" src="https://qerza.dexignzone.com/angular/demo/assets/images/avatar/1.jpg" alt="image">
</div>

<p class="david">David Heree</p>
<p class="ux"> UX Designer </p>


    <p class="ph-a">Research</p>
    <p class="ph-b">Figma</p>
    <p class="ph-c">Photoshop</p>

