<p class="one">Recommended Jobs</p>
<div class="cont-one">
    <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/4.svg" alt="">
    <p class="first">  Senior UX Designer  </p>
    <p class="second">Inacyx Studios</p>
    <p class="third">$21,000 - $25,000 <br> Manchester,England <br> FREELANCE-PART TIME</p>
    <p class="follow-one">+Follow</p>
</div>

<div class="cont-two">
    <img class="image-two" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/3.svg" alt="">
    <p class="fourth">  Freelance UI Designer  </p>
    <p class="fifth">Naonatu Team</p>
    <p class="sixth">$21,000 - $25,000 <br> Manchester,England <br> FREELANCE-PART </p>
    <p class="follow-two">+Follow</p>
</div>

